@import-normalize;

:root {
	--text-sm: 14px;
	--text-md: 16px;
	--spacing-xs: 6px;
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 32px;
	--spacing-xl: 46px;
	--rounding-sm: 6px;
	--rounding-md: 8px;
	--text-black: #282a30;
	--text-white: #fefefe;
	--text-gray: #6b6f76;
	--border-gray: #dddddd;
	--background: #f4f5f8;
	--paper: #ffffff;
	--green: #4caf50;
	--red: #f44336;
	--shadow-sm: 0 0 2px 0px #dfdfdf;
	--shadow-md: 0 0 4px 0px #cdcdcd;
}

* {
	box-sizing: border-box;
}

body,
button,
select {
	margin: 0;
	background-color: var(--background);
	color: var(--text-black);
	font-family: "Inter", sans-serif;
	font-size: var(--text-md);
}
