.container {
	display: flex;
	align-items: center;
	position: relative;
}

.select {
	cursor: pointer;
	padding: var(--spacing-xs);
	padding-right: calc((var(--spacing-xs) * 2) + 16px);
	appearance: none;
	border: 1px solid var(--border-gray);
	border-radius: var(--rounding-sm);
	gap: var(--spacing-xs);
	background-color: var(--paper);
	min-width: 150px;
}

.caret {
	position: absolute;
	right: 0;
	margin: var(--spacing-xs);
	pointer-events: none;
}
