.container {
	display: flex;
	gap: var(--spacing-md);
	flex-direction: column;
	width: 370px;
}

@media only screen and (max-width: 850px) {
	.container {
		width: 100%;
	}
}

.header {
	display: flex;
	gap: var(--spacing-md);
	justify-content: space-between;
	white-space: nowrap;
}

.details {
	display: flex;
	align-items: center;
	gap: var(--spacing-md);
}

.actions {
	display: flex;
	align-items: center;
}

.count {
	color: var(--text-gray);
}
